<div class="card">
    <div class="card-header">
      <h4 class="card-title">הטיולים שלי</h4>
    </div>
    <div class="card-body">

    <input type="search" nbInput shape="round" [(ngModel)]="searchTerm" placeholder="חפש...">
 
    <!-- <nb-form-field>
      <input type="search" nbInput shape="round" [(ngModel)]="searchTerm" placeholder="חפש...">
      <button nbSuffix nbButton ghost (click)="Search()">
        <nb-icon icon="search-outline" pack="eva">
        </nb-icon>
      </button>
    </nb-form-field> -->

      <div class="table-responsive">
        <table class="table table-striped ">
          <thead class="text-primary">
            <tr>
            <th>
              מספר טיול
            </th>
            <th>
              שם
            </th>
            <th>
              קבוצה
            </th>
            <th>
              מדריך
            </th>
            <th>
              תאריך
            </th>
            <th>
              מדינה
            </th>
            <th>
              מרחק
            </th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let travel of (travelList | travelFilter: [searchTerm])" (click)="OpenDialog(travel)">
              <td>
                {{travel.albumId}}
              </td>
              <td>
                {{travel.track}}
              </td>
              <td>
                {{travel.group}}
              </td>
              <td>
                {{travel.guide}}
              </td>
              <td>
                {{travel.date | date:'dd.MM.YYYY'}}
              </td>
              <td>
                {{travel.country}}
              </td>
              <td class="text-right">
                {{travel.distanceInKm}}
              </td>
            </tr>       
          </tbody>
        </table>
      </div>
    </div>
  </div>